Repository planetlabs/qgis-planet-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-scripts, shellcheck-scripts

Path conditions:
  ensure-utf8-encoding: any of: \.py$
  ensure-google-docstrings: any of: \.py$
  nixfmt: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  bandit-scripts: any of: \.py$
  shellcheck-scripts: any of: ^scripts/.*\.(sh|bash|zsh)$

QA Updates - isort imports
  flake.nix
  pavement.py
  planet_explorer/gui/pe_basemap_layer_widget.py
  planet_explorer/gui/pe_basemaps_list_widget.py
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/gui/pe_filters.py
  planet_explorer/gui/pe_legacy_warning_dialog.py
  planet_explorer/gui/pe_open_saved_search_dialog.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/gui/pe_quads_treewidget.py
  planet_explorer/gui/pe_save_search_dialog.py
  planet_explorer/gui/pe_show_curl_dialog.py
  planet_explorer/gui/pe_tasking_dockwidget.py
  planet_explorer/gui/pe_thumbnails.py
  planet_explorer/pe_analytics.py
  planet_explorer/pe_plugin.py
  planet_explorer/pe_utils.py
  planet_explorer/planet_api/p_client.py
  planet_explorer/planet_api/p_order_tasks.py
  planet_explorer/planet_api/p_quad_orders.py
  planet_explorer/tests/conftest.py
  planet_explorer/tests/install_plugin.py
  planet_explorer/tests/test_basemaps.py
  planet_explorer/tests/test_daily_imagery.py
  planet_explorer/tests/test_filters.py
  planet_explorer/tests/test_login.py
  planet_explorer/tests/test_orders.py
  planet_explorer/tests/test_plugin.py
  planet_explorer/tests/test_saved_search.py
  planet_explorer/tests/test_tasking.py
  planet_explorer/tests/utils.py
Due: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, bandit-scripts

Disable codeql QA check for now
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  scripts/test_run-tests.sh
Due: yamllint, actionlint, shellcheck-scripts

Format flake
  flake.lock
  flake.nix
Due: nixfmt

Fix missing quotation in flake
  flake.nix
Due: nixfmt

Dont use future as it is deprecated in new python releases
  flake.nix
Due: nixfmt

use qgis network stack
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

fix import
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Updates to privoxy proxy testing script
  .gitignore
  flake.nix
  scripts/privoxy.sh
Due: nixfmt, shellcheck-scripts

Bump version to 2.3.6. Added changelog
  planet_explorer/metadata.txt
Due: none

Dont try to test on 3.36
  .github/workflows/testing.yml
Due: yamllint, actionlint

Add virsh network detection and PAC URLs to privoxy script
  scripts/privoxy.sh
Due: shellcheck-scripts

Add testpac-local and testpac-vlan subcommands to privoxy script
  scripts/privoxy.sh
Due: shellcheck-scripts

Show log tail hint after privoxy start
  scripts/privoxy.sh
Due: shellcheck-scripts

Fix rm error on privoxy stop when pid file already removed
  scripts/privoxy.sh
Due: shellcheck-scripts

Add persistent message bar for network connectivity errors
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix KeyError when Content-Encoding header is absent
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Handle network errors gracefully during login
  planet_explorer/gui/pe_explorer_dockwidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Set objectName on dock widgets for future geometry persistence
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/gui/pe_tasking_dockwidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update metadata.txt version to 2.3.6
  planet_explorer/metadata.txt
Due: none

Add SSL/TLS error detection to persistent message bar
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Implement support for differentiated permissions download vs stream
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_filters.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Use best practice for qt import
  planet_explorer/resources/resources.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Bump version to 2.4.0
  planet_explorer/metadata.txt
Due: none

Added privoxy readme and tidy up for QGIS ltr launcher script (nix specific). Vim niceties
  .nvim.lua
  scripts/README-privoxy.md
  scripts/start_qgis_ltr.sh
Due: markdownlint, cspell, shellcheck-scripts

Flake updates
  flake.lock
  flake.nix
Due: nixfmt

Update flake to support qgis 4
  flake.lock
  flake.nix
  requirements.txt
Due: nixfmt

Add qgisMaximumVersion to plugin metadata
  planet_explorer/metadata.txt
Due: none

Update plugin using pyqt5_to_pyqt6.py script
  planet_explorer/gui/pe_aoi_maptools.py
  planet_explorer/gui/pe_basemap_layer_widget.py
  planet_explorer/gui/pe_basemaps_list_widget.py
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/gui/pe_filters.py
  planet_explorer/gui/pe_gui_utils.py
  planet_explorer/gui/pe_legacy_warning_dialog.py
  planet_explorer/gui/pe_legacy_warning_widget.py
  planet_explorer/gui/pe_open_saved_search_dialog.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/gui/pe_quads_treewidget.py
  planet_explorer/gui/pe_range_slider.py
  planet_explorer/gui/pe_results_configuration_dialog.py
  planet_explorer/gui/pe_save_search_dialog.py
  planet_explorer/gui/pe_settings_dialog.py
  planet_explorer/gui/pe_tasking_dockwidget.py
  planet_explorer/gui/pe_thumbnails.py
  planet_explorer/gui/range_slider.py
  planet_explorer/pe_plugin.py
  planet_explorer/planet_api/p_client.py
  planet_explorer/planet_api/p_order_tasks.py
  planet_explorer/tests/test_filters.py
  planet_explorer/tests/test_orders.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update vscode script
  scripts/vscode.sh
Due: shellcheck-scripts

Add pyqt6-stubs to dependency list
  requirements.txt
Due: none

Add back Qt5 and QGIS LTR dev shells and apps
  flake.nix
Due: nixfmt

Update uic.loadUiType, TicksBelow, NoSelection options
  planet_explorer/gui/pe_aoi_maptools.py
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/gui/pe_filters.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/gui/pe_quads_treewidget.py
  planet_explorer/gui/pe_range_slider.py
  planet_explorer/gui/pe_tasking_dockwidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix null geometry being returned
  planet_explorer/pe_utils.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix circle selection
  planet_explorer/gui/pe_aoi_maptools.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix open save search accept button
  planet_explorer/gui/pe_dailyimages_widget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update vscode script for qgis4/qt6 development
  scripts/vscode.sh
Due: shellcheck-scripts

Update plugin version to 2.5.0
  planet_explorer/metadata.txt
Due: none

Import sip from PyQt
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

PyQt6 enum change for KeepAspectRatio and SmoothTransformation
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_quads_treewidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix NoSelection source in listScenes
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts
