Repository planetlabs/qgis-planet-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-scripts, shellcheck-scripts

Path conditions:
  ensure-utf8-encoding: any of: \.py$
  ensure-google-docstrings: any of: \.py$
  nixfmt: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  bandit-scripts: any of: \.py$
  shellcheck-scripts: any of: ^scripts/.*\.(sh|bash|zsh)$

Update saved search
  planet_explorer/gui/pe_open_saved_search_dialog.py
  planet_explorer/gui/pe_save_search_dialog.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Add docstrings to functions in pe_utils module
  planet_explorer/pe_utils.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Use anonymous user for tracking
  planet_explorer/pe_analytics.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update filtering and ordering in both basemaps and daily imagery
  .gitignore
  flake.nix
  planet_explorer/gui/pe_basemap_layer_widget.py
  planet_explorer/gui/pe_basemaps_list_widget.py
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/gui/pe_filters.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/pe_plugin.py
  planet_explorer/planet_api/p_client.py
  planet_explorer/planet_api/p_quad_orders.py
  requirements.txt
Due: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, bandit-scripts

Add qgis planet plugin client id
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Add missing dependencies
  requirements.txt
Due: none

Add flake8 security check
  .pre-commit-config.yaml
  flake.nix
  scripts/flake8_check.sh
Due: nixfmt, yamllint, shellcheck-scripts

Add security checks for qgis plugins from QGIS-Plugins-Website
  .pre-commit-config.yaml
  .secrets.baseline
  flake.nix
  planet_explorer/gui/pe_filters.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/gui/pe_settings_dialog.py
  planet_explorer/pe_plugin.py
  planet_explorer/pe_utils.py
  planet_explorer/planet_api/p_client.py
  planet_explorer/resources/__init__.py
  planet_explorer/tests/install_plugin.py
  requirements.txt
  scripts/bandit_check.sh
  scripts/detect_secrets.sh
  scripts/file_analysis.sh
Due: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, yamllint, bandit-scripts, shellcheck-scripts

Fix install script
  planet_explorer/tests/install_plugin.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Skip tests and resources files during file check
  scripts/file_analysis.sh
Due: shellcheck-scripts

Fix file permissions
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix publish filter
  planet_explorer/gui/pe_filters.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix failed load
  .github/workflows/build.yml
Due: yamllint, actionlint

Save planet sdk tokens to plugin directory
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Improve login experience
  planet_explorer/gui/pe_auth_dialog.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix explorer panel behaviour during logout or reload
  planet_explorer/gui/pe_explorer_dockwidget.py
  planet_explorer/pe_plugin.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update build to use 4.0.3 questing
  .github/workflows/build.yml
Due: yamllint, actionlint

Minor fix
  .github/workflows/build.yml
Due: yamllint, actionlint

Fix resources import for compatibility with QGIS LTR
  planet_explorer/__init__.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Clean up package lists in flake
  flake.nix
Due: nixfmt

Build and test for QGIS LTR
  .github/workflows/build.yml
  planet_explorer/tests/install_plugin.py
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, actionlint, bandit-scripts

Add description for build workflow
  .github/workflows/build.yml
Due: yamllint, actionlint

Fix api key references
  flake.nix
  planet_explorer/gui/pe_auth_dialog.py
  planet_explorer/gui/pe_basemap_layer_widget.py
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_planet_inspector_dockwidget.py
  planet_explorer/gui/pe_show_curl_dialog.py
  planet_explorer/gui/range_slider.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, bandit-scripts

Fix previews for daily imagery
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fail gracefully if quads not available
  planet_explorer/gui/pe_basemaps_widget.py
  planet_explorer/gui/pe_orders.py
  planet_explorer/gui/pe_orders_monitor_dockwidget.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts
