Repository planetlabs/qgis-planet-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-utf8-encoding, ensure-google-docstrings, nixfmt, markdownlint, cspell, yamllint, actionlint, bandit-scripts, shellcheck-scripts

ensure-utf8-encoding:
  name: 🌐 Ensure UTF-8 encoding declaration in Python files
  entry: bash scripts/encoding_check.sh
  language: system
  stages:
  - pre-commit

ensure-google-docstrings:
  name: 📚 Ensure Google-style docstrings in Python modules
  entry: bash scripts/docstrings_check.sh
  language: system
  stages:
  - pre-commit

nixfmt:
  name: ❄️ Nixfmt (RFC style)
  description: Format Nix code with nixfmt-rfc-style
  entry: nixfmt
  language: system
  args:
  - --

markdownlint:
  name: 📝 markdownlint - Markdown linter
  entry: markdownlint
  language: system
  stages:
  - pre-commit

cspell:
  name: 🔤 cspell - Spell checker for Markdown
  entry: cspell --config=.cspell.json --no-progress --no-summary
  language: system
  stages:
  - pre-commit

yamllint:
  name: 🔍 yamllint - YAML linter
  entry: yamllint
  language: system
  stages:
  - pre-commit

actionlint:
  name: 🤖 actionlint - GitHub Actions workflow linter
  entry: actionlint
  language: system
  stages:
  - pre-commit

bandit-scripts:
  name: 🔒 Bandit - Python security analysis
  entry: bandit -r scripts
  language: system
  stages:
  - pre-commit

shellcheck-scripts:
  name: 🐚 ShellCheck - scripts
  entry: shellcheck
  language: system
  pass_filenames: true

Add log files to ignore list
  .gitignore
Due: none

Copy tests from upstream qa branch
  planet_explorer/tests/install_plugin.py
  planet_explorer/tests/test_basemaps.py
  planet_explorer/tests/test_daily_imagery.py
  planet_explorer/tests/test_filters.py
  planet_explorer/tests/test_login.py
  planet_explorer/tests/test_orders.py
  planet_explorer/tests/test_plugin.py
  planet_explorer/tests/test_saved_search.py
  planet_explorer/tests/test_tasking.py
  planet_explorer/tests/utils.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Minor fixes for tests
  planet_explorer/tests/test_filters.py
  planet_explorer/tests/test_orders.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Enforce pre-commit suggestions except for google docstrings
  .cspell.json
  .pre-commit-config.yaml
  .secrets.baseline
  bandit.yaml
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/gui/pe_settings_dialog.py
  planet_explorer/gui/pe_thumbnails.py
  planet_explorer/pe_analytics.py
  planet_explorer/pe_plugin.py
  planet_explorer/pe_utils.py
  planet_explorer/planet_api/p_client.py
  planet_explorer/planet_api/p_order_tasks.py
  planet_explorer/planet_api/p_quad_orders.py
  scripts/privoxy.sh
  scripts/start_qgis_ltr.sh
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, bandit-scripts, shellcheck-scripts

Undo safe_join addition and fix docstrings
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/pe_plugin.py
  planet_explorer/pe_utils.py
  planet_explorer/planet_api/p_order_tasks.py
  planet_explorer/planet_api/p_quad_orders.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Add back safe_join
  planet_explorer/gui/pe_dailyimages_search_results_widget.py
  planet_explorer/pe_plugin.py
  planet_explorer/pe_utils.py
  planet_explorer/planet_api/p_order_tasks.py
  planet_explorer/planet_api/p_quad_orders.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Pin PyQt6-stubs
  requirements.txt
Due: none

Upgrade python version used in linting workflow
  .github/workflows/lint.yml
Due: yamllint, actionlint

Switch all pre-commit hooks to local
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nixfmt, yamllint

Update requirements for linting workflow
  .github/workflows/lint.yml
  .github/workflows/testing.yml
  requirements-dev.txt
Due: yamllint, actionlint

Fix nixfmt and bearer install in lint workflow
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, actionlint

Fix nixfmt check in linting workflow
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, actionlint

Change search button text to march order button format for text
  planet_explorer/gui/pe_dailyimages_widget.py
  planet_explorer/ui/dailyimages_widget.ui
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Pin dependencies for linting workflow
  .github/workflows/lint.yml
  requirements-dev.txt
Due: yamllint, actionlint

Update testing workflow
  .github/workflows/testing.yml
  planet_explorer/tests/conftest.py
  planet_explorer/tests/test_orders.py
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, actionlint, bandit-scripts

Limit qgis builds to LTR and latest in build workflow
  .github/workflows/build.yml
Due: yamllint, actionlint

Update build image to 4.0
  .docker/Dockerfile
Due: none

Fix broken tests dependencies
  requirements_test.txt
Due: none

Update how tests are built
  .docker/Dockerfile
  .docker/docker-compose.gh.yml
  .github/workflows/testing.yml
  planet_explorer/tests/conftest.py
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, actionlint, bandit-scripts

Fix segmentation core dropped in tests
  .github/workflows/testing.yml
  planet_explorer/tests/conftest.py
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, actionlint, bandit-scripts

Add summary of changes to changelog
  .pre-commit-config.yaml
  planet_explorer/metadata.txt
Due: yamllint

Remove coverage from precommit hooks.
  .pre-commit-config.yaml
Due: yamllint

Add workflow to publish release
  .github/workflows/create_release.yaml
Due: yamllint, actionlint

Fix missing resources
  .github/workflows/resources.yaml
  planet_explorer/__init__.py
  planet_explorer/resources/resources.py
Due: ensure-utf8-encoding, ensure-google-docstrings, yamllint, actionlint, bandit-scripts

Disable build workflow
  .github/workflows/build.yml
Due: yamllint, actionlint

fix linting errors
  .github/workflows/build.yml
Due: yamllint, actionlint

Add missing dependency for zip file
  requirements.txt
Due: none

Update logging in plugin install script
  planet_explorer/tests/install_plugin.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Fix timeout error in build workflow
  .github/workflows/build.yml
Due: yamllint, actionlint

Minor fix
  .github/workflows/build.yml
Due: yamllint, actionlint

Turn off build for LTR
  .github/workflows/build.yml
Due: yamllint, actionlint

Fix long build times for the qt6 shell
  .gitignore
  flake.lock
  flake.nix
Due: nixfmt

Update plugin version
  planet_explorer/metadata.txt
Due: none

Update dependencies for planet
  requirements.txt
Due: none

Switch to device code OAuth workflow in client
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Complete authentication workflow
  planet_explorer/gui/pe_auth_dialog.py
  planet_explorer/pe_plugin.py
  planet_explorer/planet_api/__init__.py
  planet_explorer/planet_api/p_client.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update planet sdk imports and add docstrings in p_utils module
  planet_explorer/planet_api/p_utils.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update basemaps functions in client to use v3 sdk methods
  planet_explorer/planet_api/p_client.py
  planet_explorer/planet_api/p_decorators.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Update pe_thumbnail module to fetch images using sdk request method
  planet_explorer/gui/pe_thumbnails.py
Due: ensure-utf8-encoding, ensure-google-docstrings, bandit-scripts

Path conditions:
  ensure-utf8-encoding: any of: \.py$
  ensure-google-docstrings: any of: \.py$
  nixfmt: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  bandit-scripts: any of: \.py$
  shellcheck-scripts: any of: ^scripts/.*\.(sh|bash|zsh)$
